*.elc
*~
.*.lock
.cvsignore
.svn
/.achievements
/.bookmarks.el
/.emacs.desktop
/.mc-lists.el
/.org-id-locations
/.places
/.session
/.smex-items
/.smex-items
/.sqli_history
/TODO
/ac-comphist.dat
/anything-c-adaptive-history
/auto-save-list
/custom.el
/elpa
/emms/
/emms/
/frame-restore-parameters
/helm-adaptive-history
/history
/image-dired/
/newsticker
/swank
/thumbs/
/tramp
/url/cache
/var
CVS
\#*
cookies
site-lisp/package/
