/*.el
/*.html
/.bookmarks.el
/.cask
/.cider-history
/.mc-lists.el
/.places
/.session
/.smex-items
/README.el
/README.html
/custom.el
/elpa
/eshell/history
/eshell/lastdir
/history
/projectile-bookmarks.eld
/semanticdb
/tramp
/url/cache
/url/cookies
