/*.el
/*.html
/.bookmarks.el
/.cask
/.cider-history
/.mc-lists.el
/.places
/.session
/.smex-items
/.sqli_history
/README.el
/README.html
/auto-save-list
/custom.el
/elpa
/eshell/history
/eshell/lastdir
/history
/image-dired
/projectile-bookmarks.eld
/recentf
/request
/semanticdb
/tramp
/url/cache
/url/cookies
